:root {
    --theme: "light";
    --btn: none;

}

* {
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: Lsd;
    src: url(./assets/fonts/LSD.TTF);
}

body {
    height: 100vh;
    min-width: 100vw;
    background-color: #b4a3b8;
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
}

.conteiner {
    background-color: #EFD8F4;
    width: 510px;
    height: auto;
    padding: 20px;
    border-radius: 4rem;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.calc {
    background-color: #999A9F;
    font-size: 120px;
    width: 100%;
    height: 160px;
    padding: 15px;
    border-radius: 2rem;
    box-shadow: inset 0 0 5px #202020;
    font-family: Lsd;
    display: flex;
    justify-content: end;
    align-items: end;
    overflow: hidden;
}

.sub {
    position: absolute;
    font-size: 55px;
    top: 30px;
    font-family: Lsd;
    right: 38px;
}

.conteiner div {
    border-radius: 3rem;
    flex-grow: 1;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    padding: 20px;
    gap: 5px;
    align-items: center;
    justify-items: center;
    box-shadow: inset 0 0 10px #E7B2CE;
}

.screen {
    display: flex!important;
    position: relative;
    align-items: center;
    justify-content: center;
}

#alert {
    color: rgb(255, 121, 121);
    position: absolute;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 70px;
    display: none;
}

button {
    border-radius: 50%;
    width: 110px;
    height: 110px;
    border: none;
    cursor: pointer;
    font-size: 40px;
    color: grey;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    transform: translateX(-6px);
    transform: translatey(-6px);
    box-shadow: inset 0 0 5px #202020;
}

button:active {
    filter: none;
    margin: none;
    transform: translatey(0);
    transform: translateX(3px);
}

.beige {
    background-color: #f8cadd;
    filter: drop-shadow(3px 6px 0 #C98A83);
    grid-row: 1/2; 
}

.yellow {
    background-color: #FFF8CE;
    filter: drop-shadow(3px 6px 0 #C98A83);
    grid-row: 2/3; 
}

.green {
    background-color: #D7F2D2;
    filter: drop-shadow(3px 6px 0 #95A984);
    grid-row: 3/4; 
}

.purple {
    background-color: #CEB0D6;
    filter: drop-shadow(3px 6px 0 #9175AE);
    grid-row: 4/5; 
}

.blue {
    background-color: #B2E0F7;
    filter: drop-shadow(3px 6px 0 #6585AA);
    grid-row: 5/6; 
}

.orange {
    background-color: #FB5E2B;
    filter: drop-shadow(3px 6px 0 #D82200);
    grid-row: 1/2; 
}

#doom {
    position: absolute;
    width: 100%;
    padding: 20px;
    box-sizing: border-box;
    height: 100%;
    border-radius: 3rem;
    border: 0;
}

